[2014-09-16 06:37] waater opened #2 "Member companies logos not showing up!"
![screen shot 2014-09-15 at 11 35 08 pm](https://cloud.githubusercontent.com/assets/3316213/4283287/e201b5be-3d6b-11e4-8660-308e583bd16c.png)

[2014-09-17 22:43] marcellodesales opened #3 "Is there a certain "Open-source" maturity model to be included in the Member's list?"
Hi there,

I'm with Intuit, and we are starting a process of Internal Open-source, which I hope to become more public in the next couple of months... Is there any maturity process that we need to comply so that we can be in the members list?

thanks
Marcello

[2014-09-19 18:36] jamesgpearce opened #4 "SVG images stretched in IE & Firefox"
Some SVG images are very damaged in IE:
![image](https://cloud.githubusercontent.com/assets/90942/4340213/c019eff8-402b-11e4-9475-b5e89e61117a.png)

and Google's is squashed in Firefox:
![image](https://cloud.githubusercontent.com/assets/90942/4340218/c9ac277a-402b-11e4-90c4-38f20ad0ac95.png)

[2014-09-21 20:55] johny65 opened #5 "Error in question from FAQ"
The FAQ question:

**What _can_ deliverables can we expect to see from the group?**

contains a more "can" word.

[2014-09-21 22:59] #5 closed, assigned to nobody

[2014-09-22 03:40] #4 closed, assigned to amateurhuman

[2015-03-04 06:10] konklone opened #9 "Move the website to HTTPS"
Even if it means putting a [free CloudFlare account](https://blog.cloudflare.com/introducing-universal-ssl/) in front of things and [not having it be encrypted end-to-end](https://github.com/isaacs/github/issues/156).

TODO Group represents a bunch of forward thinking companies who do open source, and is angling to play a leadership role in the open source community. When community leaders use HTT

[2015-08-02 03:00] sums801 opened #18 "add a users.md document to summarize the users/OSS projects which use this template"
add a users.md document , which links to the companies/open source projects , who use this template of open code of conduct

**They may or "may not" be a member of this group, but still they use this template and acknowledge also. List and links of such projects/organizations will be good and positive.**

[2015-08-03 13:33] bkeepers commented on #18
Hi @sums801, that's a good suggestion. Currently the list is here: https://github.com/todogroup/opencodeofconduct#what-companies-or-communities-support-or-use-the-open-code-of-conduct

I'm not opposed to adding it to the website.

[2016-05-30 13:31] Vultur opened #32 "Can I use this source code to build a localized site ？"
I am an open source software enthusiast, I wanted to create a similar site was joined by friends around me, but unlike member of the TODO, they are ordinary developers, can I use the website source code and name of the TODO ？

[2016-05-31 13:17] caniszczyk commented on #32
You can't use the name "TODO Group" but you're free to use the source for the site, the site itself should be under the Apache License v2.0

[2016-05-31 13:17] #32 closed

[2017-02-17 22:56] caniszczyk commented on #2
closing since this is old and probably works now

[2017-02-17 22:56] #2 closed

[2017-03-14 14:36] whit537 commented on #9
Moreover, the Twitter bio links to https, which leads to [confusion](https://twitter.com/Gratipay/status/841654608183382017) since it's borked.

[2017-03-27 08:44] willnorris commented on #9
This actually is a bit embarrassing at this point.  @caniszczyk, is this something LF can help us get setup, since I think they control the DNS at this point.

[2017-03-27 13:54] bkeepers commented on #9
This is on GitHub Pages, so I asked our team about getting https enabled for this.

Aside: Pages supports https on `*.github.io` domains, but last I asked about it, support for custom domains hasn't been shipped because the CDN provider doesn't have an automated way to handle key material yet.

[2017-03-27 14:10] willnorris commented on #9
@bkeepers: sure, I knew that Pages didn't support custom domains, which was why we would need LF's domain admins to repoint DNS at cloudflare as @konklone suggested.  But if GitHub can manage to do this on your end, that'd be great too. :)

[2017-03-27 19:23] caniszczyk commented on #9
@willnorris @bkeepers I emailed LF IT, should take care of it within 24-48 hours, also pegged it as URGENT too.

[2017-03-27 19:44] caniszczyk opened #50 "Add community page"
Add "community" page that features link to public mailing list + Slack

[2017-03-28 08:58] caniszczyk commented on #50
http://todogroup.org/community/

[2017-03-28 08:58] #50 closed

[2017-03-28 08:59] caniszczyk commented on #3
old issue, closing out but you can take a look here: https://github.com/github/maturity-model

[2017-03-28 08:59] #3 closed

[2017-03-28 14:47] bkeepers commented on #50
Nice!

[2017-06-23 13:54] bkeepers commented on #9
@caniszczyk I assigned this to myself and am happy to take care of it. I just need access to DNS, or contact with someone that can make requested changes.

[2018-01-26 23:08] #18 closed

[2018-02-08 01:20] agentzero1 opened #62 "Translation on Filipino"
I want to contribute on translation

[2018-02-08 01:40] caniszczyk commented on #62
@agentzero1 sure go for it!

[2018-02-11 18:17] michaelizer opened #64 "Translation into Spanish language"
Greetings, I would like to contribute to the project by translating it into Spanish. Spanish is my native language so don't panic, but a lot of Spanish speakers are still limited by the language so this is primarily to help them.
Thanks in advance and for your time. Keep up the great work.

[2018-06-18 19:10] lucperkins commented on #9
With the move to Netlify, this issue has been solved: https://todogroup.org

[2018-06-19 08:07] caniszczyk commented on #9
Thanks @lucperkins

[2018-06-19 08:07] #9 closed

[2018-12-21 15:32] CsatariGergely opened #86 "Open Source Compliance in the Enterprise link is missing"
The document https://todogroup.org/guides/create-program/ in its Policies for compliance refers to a "Open Source Compliance in the Enterprise" what is not linked to the document.

Also I could not find it in the TODO pages.

[2018-12-21 15:35] CsatariGergely opened #87 "Guides repo should be retired"
If I understood correctly all the guides were moved to this repo already.
The https://github.com/todogroup/guides repo should be archived or it should have some pointer to here for potential contributors.

[2019-01-28 14:17] jeffpaul opened #90 "Future of Open Source survey link is dead"
The Future of Open Source survey link on the Strategy Guide is a dead link and should be updated with a relevant link.

[2019-01-28 20:15] #90 closed

[2019-02-20 07:40] CsatariGergely opened #94 "Open Source Program Office in A Box link is missing"
Tools for managing open source programs whitepaper refers to a "Open Source Program Office in A Box" without providing any link.

[2019-02-25 20:54] hyandell commented on #94
I think it should probably be deleted. We've discussed this as a cool idea, but apart from having more ideas for things that would go in the box, we don't currently have a box.

[2019-02-25 20:57] hyandell commented on #87
Agreed. I've archived the guides repo and added a pointer to the relevant directory in the website.

[2019-02-25 20:57] #87 closed

[2019-02-25 20:58] hyandell commented on #86
It's linked earlier in the text.

Are links like acronyms where you have to explain them the first time, or do you link them every time? Wikipedia goes with the first time so I can see an argument for not changing this. That said - harmless change :)

[2019-02-26 12:49] CsatariGergely commented on #86
I think it is more practical if it is linked every time. We just need to find the correct link as the current one ([previously in the text](https://www.linuxfoundation.org/publications/open-source-compliance-enterprise/)) points to a 404.

[2019-02-26 13:07] CsatariGergely commented on #94
It is a cool idea, but we should mention it in the paper once it is on somewhat visible level. I will create a ticket to produce it and remove it from the text.

[2019-02-26 13:14] CsatariGergely opened #100 "Open Source Program Office in A Box should be created"
A collection of tools integrated together should be created and maintained.
This starter package would give companies the ability to launch their open source efforts with a cohesive, pre-assembled kit of tools.

[2019-02-26 13:15] CsatariGergely commented on #94
#100 created.

[2019-02-27 18:54] hyandell commented on #94
Merged.

[2019-02-27 18:54] #94 closed

[2019-02-27 18:55] hyandell commented on #86
Merged. Thank you for all the improvements :)

[2019-02-27 18:55] #86 closed

[2019-04-29 13:07] ppremk opened #105 "Fix repeating words in strategy.md section"
The following sentence has the word `help you` repeating twice. Suggest to remove the duplicate.

[code]
I will proceed to open a PR to fix this in compliance to the contribution guide.

[2019-05-08 14:19] ghost opened #108 "Some notes on create-program.md"
Some things to discuss on the guide "How to create an open source program".

- In "Policies for compliance" there seems to be a published internal comment: _"For example [I think we need to mention SPDX and OpenChain tools from The Linux Foundation, along with help from your and working with internal supply chain teams, will internally to ensure that code brought in by third parties is also compli

[2019-05-08 14:30] sourceopenNL commented on #100
Great idea and something to work on. Any ideas from you @CsatariGergely what should be in this box?

[2019-05-08 15:19] #105 closed

[2019-08-12 15:44] briankhsieh opened #124 "Add Uber OSPO case study to the guides"
Uber's OSPO case study was published as a [blog format.](https://todogroup.org/blog/why-we-run-an-open-source-program-uber/) Please add the case study to the TODO [guides](https://todogroup.org/guides/) under **Open Source Program Case Studies**.

Thanks.

[2019-08-13 21:15] amye commented on #124
@lucperkins, this might be under your landscape?

[2019-08-13 21:28] jeffmcaffer commented on #124
Note that the case study shows twice now on the blog page

[2019-08-20 17:59] mlinksva opened #126 "Sticky footer makes reading with page down/up bad on Chrome"
Page up/down seems to move viewport by its height, including the sticky footer, overshooting by height of the footer, so to not miss text, one must go up or down a few lines after using page down and up respectively.

This does not occur on Firefox. Even then, I dislike needing to page more frequently due to the sticky footer occupying vertical space. 😄

[2019-10-14 09:27] andxpto opened #135 "OSLS 2017 broken links"
All the OSLS 2017 links are broken.

Page: [TODO OSLS](https://github.com/todogroup/todogroup.github.io/blob/master/content/en/blog/todo-osls.md)

[2019-10-16 18:10] briankhsieh commented on #124
The case study is still not part of the guides page. Anything I can do to help?

[2019-10-16 18:46] amye commented on #124
It's listed under Case Studies:
https://github.com/todogroup/todogroup.github.io/blob/master/content/en/guides/casestudies/_index.md

[2019-10-16 18:55] briankhsieh commented on #124
Thanks, @amye. Do you know if the list of case studies on this page is actively maintained as well?
https://todogroup.org/guides/

[2019-10-16 19:01] amye commented on #124
https://github.com/todogroup/todogroup.github.io/pull/137 is in

[2019-11-07 14:48] #135 closed

[2019-12-17 22:21] amye opened #143 "Tracking ideas for 2022 TODO guides"
Creating this issue to track ideas for future TODO Group guides.

[2019-12-18 17:52] thejrack commented on #143
So not sure if these will count as guides, but hey have at it internets.

* "Good First Issue" and more focused project engagement for the enterprise/end user communities
  * With the significant increase in "end user" communities by organizations there is a base recognition that FLOSS is important and they need to be involved
  * Many first issues are focused on the individual developer, but orga

[2020-01-08 15:42] misappi commented on #143
With folkes from Europe are currently working on a short paper around open source strategy / exec whitepaper (we do not yet have a good title for it), see [here](https://docs.google.com/document/d/15fXZzELmqY8bnJPWugoTFU5LmPorrFR0fWU9X5iHjlY/edit). Don't know if this counts as a TODO Guide.
We even wanted to work on some other documents, but I first have to check the status. If this is still relev

[2020-02-03 16:07] thejrack commented on #143
One that has been sticking in the back of my mind as well has been doing Attribution well.

I see a ton of variance in what I see internally and externally when it comes to Attribution for 3rd party works.  What is in the artifact, how it is made available, etc.  I believe there are general common practices like the http://www.apache.org/legal/src-headers.html#notice which is a foundation principl

[2020-02-19 18:00] sramkrishna opened #155 "rss feed for todo members blogs"
It would be great to have an rss feed for members of the TODO group who have blogs that we can all read especially when they have topics that are centered around OSPO. Would love to see that and published on the website.

[2020-06-05 17:40] ashleywolf opened #163 "Slack link missing on Community page"
https://todogroup.org/community/

Join us on Slack to chat open source program management:
<img width="928" alt="Screen Shot 2020-06-05 at 10 40 15 AM" src="https://user-images.githubusercontent.com/10735907/83906733-f59d4580-a718-11ea-9d72-4c5ba1d869d7.png">

[2020-06-05 18:25] amye commented on #163
@lucperkins - it's doing that thing again, https://github.com/todogroup/todogroup.github.io/blob/master/content/en/community.md has it but it's not rendering.

[2020-06-05 18:29] #124 closed

[2020-06-05 18:54] lucperkins commented on #163
@amye Someone removed the shortcode. Probably a merge issue. I put it back.

[2020-06-05 18:54] #163 closed

[2020-06-26 17:03] GeorgLink opened #167 "Formatting issue in uber use case"
The first quote in the [Uber use case](https://todogroup.org/guides/casestudies/uber/) has issues with URLs.

![Screen Shot 2020-06-26 at 12 01 15 PM](https://user-images.githubusercontent.com/8862021/85882474-f3bd2400-b7a4-11ea-8242-e7589825e148.png)

I searched for the file that has this content, but didn't see anything wrong with it:
https://github.com/todogroup/todogroup.github.io/edit/master/

[2020-06-26 17:07] GeorgLink commented on #167
Never mind, I found the correct file and proposed a pr: https://github.com/todogroup/todogroup.github.io/pull/168

[2020-06-26 17:09] GeorgLink commented on #167
I'll open this issue again until #165 is merged

[2020-09-02 23:17] DuaneOBrien opened #175 "Logos page needs improvements"
The transparent logo against the light background means the contrast is too low for accessibility purposes.

![Screen Shot 2020-09-02 at 4 15 18 PM](https://user-images.githubusercontent.com/4315550/92046560-b098a780-ed37-11ea-8386-b215a8a5dfb2.png)

[2020-09-02 23:17] DuaneOBrien commented on #175
On the whole we should improve the logos page, several of these are too small or badly sized to fit.

[2020-09-07 18:17] willnorris commented on #167
Closing, since #165 is now merged.

[2020-09-07 18:17] #167 closed

[2020-09-18 17:43] decause commented on #108
Thank you @sourceopenNL for filing this issue :) I'll address each bullet separately below:

1) patches incoming momentarily.
2) patches incoming momentarily.
3) It is unclear whether this was contributed or machine generated. Will follow up with @todogroup/steering-committee and @caniszczyk to find out.
4) The license of this repo remains unchanged (CC 4.0)

[2020-10-13 18:33] caniszczyk opened #180 "Update FAQ to reflect updated benefits/values"
https://todogroup.org/faq/

[2020-10-13 19:45] byjrack commented on #180
Starting with random thoughts before moving to a PR to be sure I am on the right page.

Benefits
- Avoid remaking wheels
- Global group of very experienced leads to bounce ideas and ask questions of
- Provide both abstract patterns and specific implementations for Organizations to find something that meshes with their specific needs
- Has representation from very mature Orgs with heavy self-manage

[2020-11-16 21:16] caniszczyk opened #182 "Add DB + RIT SVG logos to the members page"

[2020-12-03 21:11] amye commented on #182
https://github.com/todogroup/todogroup.github.io/pull/183 resolves

[2021-02-23 18:30] caniszczyk opened #188 "Update member page to pull from OSPO landscape"
https://landscape.todogroup.org

[2021-02-23 18:30] #182 closed

[2021-03-11 20:21] jeffpaul opened #190 "Update branch name from `master` to `main`"
GitHub has made this transition process much simpler now: https://github.com/github/renaming#rename-existing.  If you're curious why renaming the branch is worthwhile: https://boleary.dev/blog/2020-06-10-i-was-wrong-about-git-master.html.  I don't have the necessary access in this repo to make these changes, so I'm hoping a maintainer will agree with this recommendation and take the action as link

[2021-03-11 20:25] caniszczyk commented on #190
done thanks for the poke

https://github.com/todogroup/todogroup.org

[2021-03-11 20:25] #190 closed

[2021-04-14 17:13] geekygirldawn commented on #62
This is a very old issue - @lucperkins @agentzero1 Is this something you've made progress on? If so, we should update the issue, or we close it if this is no longer needed.

[2021-04-14 17:19] geekygirldawn commented on #108
@decause I'm looking at the version of the [guide on the website](https://todogroup.org/guides/create-program/), and I'm not seeing the incoming patches that you mentioned. Is this something you're still working on?

[2021-04-14 17:23] geekygirldawn commented on #180
@byjrack It doesn't look like any of this ever made it to the FAQ, so I'm guessing it got stuck here at the feedback stage? If so, maybe we can tag a few people for feedback?

[2021-04-19 02:34] xiaoya-Esther opened #196 "Do we have a pdf or any downloadable archive for the guides?"
Hi all, I was going through the Guides on the TODO website recently, they are really well organized and they are super helpful.

I wonder if we have an archived version of those pages so that people can read locally or even print it as a book?

Thanks!

[2021-04-19 13:32] caniszczyk commented on #196
It's all on GitHub: https://github.com/todogroup/todogroup.org/tree/main/content/en

We have some nice PDF versions here: https://linuxfoundation.org/en/resources/open-source-guides/

[2021-04-19 13:32] #196 closed

[2021-07-08 15:09] caniszczyk commented on #188
see https://github.com/cncf/landscapeapp#embed-landscape-in-a-web-site

[2021-07-08 16:27] anajsana commented on #188
I've created a new PR to fix this. Please @caniszczyk  let me know if I'm missing something or if there is anything I need to change :slightly_smiling_face:

[2021-07-08 17:03] #188 closed

[2021-07-13 09:11] anajsana opened #209 "Create new wireframe for todogroup.org"
TODO website can be improved to make more visible all the resources and upcoming events.

Creating a wireframe to see how do we want the new website to be can be a good starting point.

- [x] Wireframe created

[2021-07-13 09:16] anajsana commented on #209
This is the wireframe idea I've been working on to have in one single place all the different OSPO resources (I would like to see todogroup.org more like  an "OSPO Hub" where people can go and learn about OSPOs)

![todogroupwireframe1](https://user-images.githubusercontent.com/43671777/125425747-9a6b8de6-da39-42b1-8eb3-1ba21eb9067a.png)

Please take a look at the full wireframe idea [here](https:/

[2021-07-13 09:20] anajsana opened #210 "Re-define TODO website content"
One of the TODO Goals for 2022 is to revamp TODO Website. The TODO Community is welcome to participate in the Content Creation for the New Website.

## 💬 Working Group Sync

We will be using the `#project-website` channel in the TODO Slack, and meet during the monthly [Work Days](https://github.com/todogroup/work-day-activities).

## 📝 Workspace

To work on content, we will be using this [g.Doc](h

[2021-07-13 10:02] anajsana opened #211 "Create TODO brand guidelines"
Create a new doc where we can show TODO brand guidelines:

* Visual identity
* Background colors
* Colour Palette
* Typography

- [ ] Document created
- [ ] pdf version added at todogroup.org

[2021-07-13 10:29] anajsana opened #212 "Choose best HUGO template to build the new website structure"
Once the wireframe and content are defined, we should check if the current HUGO template can be used to create the new website resources.

If not, we should search for HUGO templates to be added. (i.e https://jamstackthemes.dev/ssg/hugo/ )

- [ ] Decide best HUGO Template
- [ ] PR Created

[2021-07-13 12:34] anajsana commented on #209
Maybe we can divide TODO Group members by region (EU, US, Asia, etc) and have specific sections for each one showing up on the wireframe.

[2021-07-13 17:21] caniszczyk opened #213 "Embed OSPO landscape on website"
https://l.todogroup.org

maybe add it on the main page, under the "slack" button

[2021-07-14 12:13] kpfleming commented on #209
How would the 'location' for a member company be determined? Many of our companies are global.

[2021-07-14 14:20] caniszczyk opened #214 "Update TODO Group pitchdeck"
For folk new to TODO Group, having a simple pitchdeck that we maintainer via gslides would be useful!

It would
* brief intro to LF and benefits
* intro on what TODO is, benefits
* intro to TODO guides + OSPO 101 + OSPOCon

We used to have different versions of this but they are old and need to be rebuilt, you can see some other examples here to pull ideas from: https://docs.google.com/presentatio

[2021-07-14 14:56] caniszczyk commented on #209
My advice is to just use the data from the OSPO Landscape which comes from
crunchbase + we can add extra attributes in the landscape.yml
https://github.com/todogroup/ospolandscape/blob/master/landscape.yml

I think we can find a way to make this programmatic end of day

On Wed, Jul 14, 2021 at 9:52 AM Ana Jimenez Santamaria <
***@***.***> wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2021-07-14 18:06] caniszczyk opened #215 "Migrate the PUBLIC todogroup list to https://lists.todogroup.org"
We had a public TODO Group list for awhile that hasn't been utilized, we kill off the google group one and move it to

We should probably just have one public email list here, "todogroup-discuss" or "ospo-discuss"

[2021-07-16 14:22] anajsana opened #216 "Change RIT Logo in OSPO Landscape"
RIT would like to have Primary Logo (3 big Orange letters) top row left here https://www.rit.edu/brandportal/our-identity-and-logos

Right now OSPO Landscape shows a different logo design

**Closing conditions**

- [ ] PR with changes made

[2021-07-20 21:01] caniszczyk commented on #214
Great work @anajsana, can you give @amye and I edit access :)?

https://docs.google.com/presentation/d/1p4dhx0Dg8fZDO8yzp7nWC2r5WHyVH-jjSQM59lkKLdo/edit#slide=id.ge4f1769039_0_95

[2021-07-26 10:59] anajsana commented on #216
@caniszczyk I've created a PR to try to fix this https://github.com/todogroup/ospolandscape/pull/70

[2021-07-26 11:05] anajsana commented on #214
What is missing here? @amye were you able to open the document and edit the content? Maybe we can add the final PDF version at https://github.com/todogroup/ospology once reviewed :)

[2021-07-26 17:17] amye commented on #214
See comments in doc, some email addresses are not live and only organizations can join.

[2021-07-26 19:38] caniszczyk commented on #214
I made some comments/suggestions, 95% there :)

On Mon, Jul 26, 2021 at 12:17 PM Amye Scavarda Perrin <
***@***.***> wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2021-07-26 20:04] caniszczyk commented on #214
can you also embed the slides in https://todogroup.org/about/ ;)? gslides makes this fairly easy

[2021-07-27 09:35] anajsana commented on #214
Thanks for reviewing this @amye and @caniszczyk ! I've submitted a PR (https://github.com/todogroup/todogroup.org/pull/218) which adds the slides at https://todogroup.org/about/

[2021-07-27 16:15] caniszczyk commented on #214
This is done now, thank you!

[2021-07-27 16:15] #214 closed

[2021-07-27 16:16] caniszczyk commented on #216
done

[2021-07-27 16:16] #216 closed

[2021-07-27 18:30] caniszczyk opened #219 "Finalize guide on outbound open source"
This came from TODO Group EU

https://docs.google.com/document/d/1c91nDKueuOH_SFYXQceMkRDsomFesW1GILohJCKQCv4/edit#heading=h.sl8gbpgq9req

[2021-07-28 15:28] caniszczyk commented on #215
let's just use https://github.com/todogroup/ospology/discussions as the
"public list" and remove any reference to the current public list

On Mon, Jul 26, 2021 at 6:03 AM Ana Jimenez Santamaria <
***@***.***> wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2021-07-30 22:39] #213 closed

[2021-07-30 22:40] caniszczyk commented on #175
This is fixed now imho by rendering the logos from the landscape

[2021-07-31 14:41] #175 closed

[2021-08-02 09:28] anajsana commented on #219
I've made some comments to the doc. Overall, I see 3 major action items (suggested in de doc) we can work on to improve this guide:

**Add a clear context to the guide:** This guide is missing some context related to the *type of contributions* organizations can make in open source ecosystems (consuming contributing or releasing)

**Improve structure:** I don't see a clear path to follow when read

[2021-08-02 10:24] anajsana commented on #215
Ok! I'll create a PR to delete the Public mailing list info from todogroup.org website and replace it with https://github.com/todogroup/ospology/discussions

[2021-08-02 10:45] anajsana commented on #215
This is the PR with the changes: https://github.com/todogroup/todogroup.org/pull/223

[2021-08-02 17:48] caniszczyk opened #224 "Add TODO blog post on OSPOlogy!"
Hey @anajsana can you do a blog post announcing the first OSPOLogy series?

Thanks :)

[2021-08-03 06:53] anajsana commented on #215
@caniszczyk Is there something missing here? I see that PR https://github.com/todogroup/todogroup.org/pull/223 has been merged already :+1:

[2021-08-03 13:25] anajsana commented on #224
Hey, @caniszczyk I've created the first blog post draft using this g.doc.: https://docs.google.com/document/d/1ABkaYl1LyLEmg0uNNuQcrKMtJ6sBPYT2vDHFvRFQhHA/edit?usp=sharing

Please let me know your thoughts. I can open a PR and share it with the TODO Group afterwards, in case someone wants to review/make edits to the blog :blush:

[2021-08-03 14:18] #215 closed

[2021-08-03 14:37] anajsana opened #225 "Work on OSPOCon Swag"
Maybe we can have some basic swag items such as TODO stickers and T-Shirts for the upcoming OSPOCon events. I would suggest using the "Talk Openly, Develop Openly"  as the main topic.

**Closing conditions**
- [x] Work on OSPOCon Design
- [x] Order swag

[2021-08-03 14:39] caniszczyk commented on #225
@anajsana good idea, we can add it to https://linuxfoundation.store

ping @amye on how we can do this

[2021-08-03 14:59] anajsana commented on #224
FYI @caniszczyk PR has been created: https://github.com/todogroup/todogroup.org/pull/226

[2021-08-03 15:04] caniszczyk commented on #224
thanks :) https://todogroup.org/blog/ospology-the-study-of-ospos/

[2021-08-03 15:04] #224 closed

[2021-08-05 08:55] anajsana opened #227 "Add new TODO Guide: Commercial Open SourceEcosystem"
The initial draft can be found here: https://docs.google.com/document/d/1PjIaHnAylGO87KD4wmzZsw5J8787YMXBL9eMcUT5BmI/edit?usp=sharing

**Closing conditions**
- [x] Create PR

[2021-08-05 10:35] anajsana commented on #227
@caniszczyk  I've added some comments to the doc to see if we can create a PR from that: https://docs.google.com/document/d/1PjIaHnAylGO87KD4wmzZsw5J8787YMXBL9eMcUT5BmI/edit?usp=sharing

Here are the 2 main challenges I've found:

1. This guide has some parts that are outdated (I've seen comments from 2017!). I've tried to delete the graphs that were out of date and update people's affiliations.
2

[2021-08-06 14:06] anajsana commented on #219
The g doc is outdated. We are working with this repo instead: https://github.com/Open-Source-Compliance/outbound-oss

[2021-08-13 15:32] anajsana opened #231 "Create new OSPO use case: GitLab"
We can add a new OSPO case study to share GitLab's story: https://github.com/todogroup/todogroup.org/tree/main/content/en/guides/casestudies

**Action items**

- [ ] Work on interview questions
- [ ] Schedule interview
- [ ] Create case study draft
- [ ] Create PR

[2021-08-13 15:33] anajsana opened #232 "Create new OSPO use case: RIT"
We can add a new OSPO case study to share RIT's story: https://github.com/todogroup/todogroup.org/tree/main/content/en/guides/casestudies

**Action items**

- [ ] Work on interview questions
- [ ] Schedule interview
- [ ] Create case study draft
- [ ] Create PR

[2021-08-13 15:33] anajsana opened #233 "Create new OSPO use case: US Bank"
We can add a new OSPO case study to share US Bank's story: https://github.com/todogroup/todogroup.org/tree/main/content/en/guides/casestudies

**Action items**

- [ ] Work on interview questions
- [ ] Schedule interview
- [ ] Create case study draft
- [ ] Create PR

[2021-08-13 16:55] gyehuda commented on #233
@anajsana, Right now we're still creating the story we'd want to tell. So it would be premature until things are more settled. But I don't want to suggest a reluctance to participate. I'm excited about the opportunity but want to make sure we time it right. So let's keep this open, but on the back burner until we have more specifics we can share.
cc: @davelester, @paulberg

[2021-08-16 08:06] anajsana commented on #233
Thanks, @gyehuda for the heads up! SGTM, let's keep this open until you feel you are ready. I will follow up with you later to see how we can move things forward :)

[2021-08-16 08:37] anajsana opened #234 "TODO Website needs cookie banner"
We have to add a cookie banner to customize user consent for TODO website.

To make things easier, we might want to use https://www.cookiebot.com ?

**Action Items**

- [ ] Decide whether or not use cookiebot
- [ ] Create account
- [ ] Add code snippet into website

[2021-08-16 13:28] caniszczyk commented on #234
I'd reach out to Amye but I think we can just use the LF hubspot for this
which has this functionality imho.

On Mon, Aug 16, 2021 at 3:37 AM Ana Jimenez Santamaria <
***@***.***> wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2021-08-17 13:20] anajsana commented on #234
Ok! I'll ping @amye to ask her about this :+1:

[2021-08-18 09:02] anajsana commented on #234
@caniszczyk Are we using g.analytics (or are we planning to use it in the mid-term) to track todogroup.org visits? If not, @amye and I realized that there might be no need to add a cookie banner, but simply delete the g.analyrics script from the website.

[2021-08-18 15:59] anajsana commented on #225
Here are some ideas for the design

## Stickers

For stickers I would simply use the TODO logo:
![todogroup-logo](https://user-images.githubusercontent.com/43671777/129931279-eeda131a-c2ce-4658-b277-0faaaac62ba4.png)

## T-shirts

For T-shirt designs I was thinking about using the moto:
![todo_swag1](https://user-images.githubusercontent.com/43671777/129931465-592dc39d-22bb-4b69-ba49-14e7c6134076.

[2021-08-18 17:45] amye commented on #225
In progress!

[2021-08-19 09:24] caniszczyk commented on #234
we could drop GA but that wouldn't be ideal as we should track traffic imho

one idea is to just use https://www.netlify.com/products/analytics/ which
we have

On Wed, Aug 18, 2021 at 11:03 AM Ana Jimenez Santamaria <
***@***.***> wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2021-08-20 22:43] nuritzi opened #235 "Gather feedback from TODO Group 2021 Survey and plan actionable steps for the 2021 report and 2022 survey"
The [2021 Open Source Program Office Survey](https://docs.google.com/presentation/d/1YIzd1XAaTthhLWCrRLXnhhQKIvxo1QF2BEieWogLBbw/edit#slide=id.p1) results have been preliminarily published.

During the [August 20, 2021 TODO Group Touchpoint](https://docs.google.com/presentation/d/12e2ozuiZgNnW6_kaEvic5IPPFAinu5-PIkt0s_8vGuE/edit#slide=id.ge7b8a7b0a1_0_0), we ended up discovering a few things that

[2021-08-20 22:49] nuritzi commented on #235
@geekygirldawn @gyehuda @kpfleming @anajsana --

I've added the TODOs that resulted from today's discussion about the 2021 OSPO survey. Can you please take a look and see if I've missed anything? It'd be great to capture more detail about the point of confusion about the buyer decision question, for example.

I think it'd be great to get more feedback from the community about the OSPO survey. Perh

[2021-08-20 22:53] nuritzi commented on #235
@anajsana are there any relevant labels we should add to this issue? I'm not familiar enough with the way we're using GitHub to know how to properly mark this.

Thanks in advance! :)

[2021-08-20 23:39] nuritzi commented on #210
@anajsana -- I've created [this doc as a first iteration](https://docs.google.com/document/d/1vm1YP1_2AfAFlocHTjuJKZa-3YTrsZ7YV6EClHZvt4c/edit#heading=h.7ew3azyz2a1d) for content updates. Can you please take a look? Input welcome!

**Some questions:**
 * Is there a public mailing list that community members can join, or is there only the private, members-only one?
 * Do we have a public calendar f

[2021-08-21 08:04] anajsana commented on #210
Thanks, @nuritzi for putting all this together! Answering now to your questions:

We have a public OSPO newsletter where everyone can contribute to it: https://github.com/todogroup/ospology/tree/main/newsletter

Yes! we use the OSPOlogy repo for that where we have a planning meeting doc to add upcoming content ideas: https://github.com/todogroup/ospology/tree/main/meetings

Not yet! but it was a s

[2021-08-24 19:13] anajsana opened #236 "Create new repo to store TODO Group OSPO related presentations"
Can we create something like https://github.com/todogroup/presentations that will host reusable presentations?

Inspiration:  https://github.com/cncf/presentations

[2021-08-24 19:19] anajsana commented on #236
@caniszczyk the repo https://github.com/todogroup/presentations has been created and I've added three main sections at `README.md` to start adding content to it:

* TODO Group overview presentation
* OSPO presentations
* Presentations List

We can add or better define these sections once we have more content from the TODO community. Maybe divide the different presentations by OSPO topics (Communit

[2021-08-25 13:04] anajsana commented on #180
This is a related PR to update FAQ based on current TODO Group resources and mission: https://github.com/todogroup/todogroup.org/pull/237

[2021-08-31 15:20] anajsana commented on #210
hey @nuritzi I've added a few comments to the doc. :+1:

I like the idea of starting on re-defining the community and about page first, and then create a PR once we agree on content.

[2021-09-01 09:21] anajsana commented on #234
In that case, either we use GA or netlify analytics, we need a cookie banner. Let's wait until @amye come back from vacation and I'll ask her about using LF hubspot or cookiebot

Thanks! :blush:

[2021-09-02 18:49] caniszczyk commented on #236
https://github.com/todogroup/presentations

[2021-09-02 18:49] #236 closed

[2021-09-02 18:52] caniszczyk commented on #232
RIT is already done: https://github.com/todogroup/todogroup.org/blob/main/content/en/guides/casestudies/rit.md

maybe we try another university, like CROSS/USC?

[2021-09-02 18:52] #232 closed

[2021-09-02 18:53] caniszczyk commented on #180
this has been updated

[2021-09-02 18:53] #180 closed

[2021-09-02 18:53] caniszczyk commented on #100
closing this out as it's not concrete, we do have an OSPO landscape https://l.todogroup.org

[2021-09-02 18:53] #100 closed

[2021-09-03 14:26] anajsana opened #240 "New TODO Guide Idea: The OSPO Checklist"
Create a checklist that summarizes the main activities any organization should work on when starting an OSPO for the first time.

**Action items**

- [ ] Validate with the TODO Community and find potential contributors
- [ ] Start a draft on g.doc
- [ ] Open a PR

[2021-09-05 12:35] kpfleming commented on #240
I'm not certain what the goal is here, but I'd consider these to be some of the last items an organization would do when creating an OSPO :-)

[2021-09-08 09:03] anajsana opened #241 "change header and footer at todo website"
Right now, footer.html is showing the todogroup.org menu. The menu should be showing at header.html and appear at the top of the page (IMHO, that can improve UX)

The footer should contain the webpage structure and the social media links, at least.

**Action Items**
- [ ] Open a PR with requested changes
- [ ] Review PR and merge changes

[2021-09-08 10:27] anajsana commented on #210
I've created a PR based on the g.doc we worked at to update the community page: https://github.com/todogroup/todogroup.org/pull/242

I've also added more info about the SC and the TODO EU Chapter

[2021-09-08 13:32] anajsana commented on #225
hi, @amye do you know the status of this? is there anything I can help with?

[2021-09-08 14:41] amye commented on #225
Still with the LF store, I have pinged that ticket.

[2021-09-08 15:36] anajsana commented on #227
I've created a PR for the OS commercial ecosystem guide. Still, WIP since Craig needs to review some sections https://github.com/todogroup/todogroup.org/pull/243

[2021-09-08 15:47] anajsana commented on #234
hey @caniszczyk I've just asked @amye about LF HubSpot (no one else is using Hubspot like that) so maybe we want to choose the option about cookiebot or see how to use netlify for that.

For cookiebot, we can start using the free plan. We will need an account to get started. Not sure which email we should use (maybe info@todgroup.org?): https://www.cookiebot.com/en/

[2021-09-08 17:48] caniszczyk commented on #234
I'd really prefer we look at using the LF Hubspot if we can, I can confirm
folks like https://www.finos.org etc are using it

On Wed, Sep 8, 2021 at 8:47 AM Ana Jimenez Santamaria <
***@***.***> wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2021-09-08 17:55] amye commented on #234
Got it, that was not a group I thought to check with.

[2021-09-14 19:59] caniszczyk opened #244 "Add FAQ on "As a university of academic institution, can I join the TODO Group?""

[2021-09-14 19:59] caniszczyk opened #245 "Add FAQ "As a government institution, can I join the TODO Group?""

[2021-09-15 10:57] anajsana commented on #245
PR has been created :+1: https://github.com/todogroup/todogroup.org/pull/246

[2021-09-15 10:58] anajsana commented on #244
PR has been created :+1: https://github.com/todogroup/todogroup.org/pull/246

[2021-09-15 13:49] #244 closed

[2021-09-15 13:49] #245 closed

[2021-09-16 19:05] caniszczyk opened #247 "Create and improve a org wide README"
See https://github.blog/changelog/2021-09-14-readmes-for-organization-profiles/

I created something basic here https://github.com/todogroup/.github

For inspo see https://github.com/twitter/.github/blob/main/profile/README.md

@anajsana I think we should do something that covers our programs and how to get involved :)

[2021-09-20 13:30] anajsana commented on #247
PR created :+1:  https://github.com/todogroup/.github/pull/4

[2021-09-22 13:56] anajsana commented on #143
Just wondering if we can reuse this issue to share TODO guides ideas for 2021? :smile:

[2021-09-22 15:57] geekygirldawn commented on #62
This is a very old issue, so I'm going to close it.

[2021-09-22 15:57] #62 closed

[2021-09-27 08:59] anajsana opened #249 "Create blog post about oss commercial ecosystems guide"
The TODO Group has launched a new guide about commercial oss ecosystems: https://todogroup.org/guides/os-commercial-ecosystem/

We should create a new blog post to introduce this new guide.

**Closing conditions**
-  [ ] PR created, reviewed, and merged

[2021-10-19 09:11] winterrocks opened #253 "Blog: Open Source Program Case Studies: Uber page has some issues"
Hi,

- https://todogroup.org/blog/why-we-run-an-open-source-program-uber/ and
- https://todogroup.org/guides/casestudies/uber/ have the same content (except the top part intro is only on the Blog page)

but https://todogroup.org/blog/why-we-run-an-open-source-program-uber/ has some of the links in the first quotation messed up.

Maybe it would be a good idea just to have the latter page (case stud

[2021-10-21 10:14] anajsana opened #254 "Create badges for new TODO Associate program"
The TODO Group recently launched the OSPO Associate Program to drive awareness within the OSPO industry about the different communities that are helping the OSPO movement and collaborating with TODO Group.

We are working to have a dedicated section on the TODO website and OSPO landscape app as well as providing official badges for acknowledgment.

**Closing Conditions**

- [x] Badges designed
- [

[2021-11-08 15:42] misappi commented on #143
One candidate would be our paper about [outbound open source](https://github.com/Open-Source-Compliance/outbound-oss). Realistically, we can publish it in Q1/2022.

[2021-11-17 17:35] gtback opened #257 "Remove unnecessary images"
With #256, @anajsana pointed out that we don't need a lot of the logos in `/static/img` at all anymore; they're hosted in the todogroup/ospolandscape repo and pulled in from there.

Check and make sure there are no other usages of these images in this repo, then remove any that aren't used

[2021-11-23 13:45] #227 closed

[2021-11-24 19:15] justinabrahms opened #261 "Found some content bugs in the create-program guide"
I'm going through a bunch of the guides today. And noticed a few things here: https://todogroup.org/guides/create-program/

This is missing some content:

This could use a link:

Comments in the source

[2021-11-29 10:10] anajsana commented on #254
closing this since all action items are done 👍

[2021-11-29 10:10] #254 closed

[2021-11-29 10:15] anajsana opened #263 "[TODO Guide] Participating in Open Source Conferences"
## Goal:

Add value/ Build useful resources for the OSPO community.

See [TODO Strategic Goals](https://github.com/todogroup/governance/blob/master/goals.md) to learn more.

## Description:

Create a new guide that shows some policies implemented at other organizations to participate in OSS Conferences.

How to request participation?
Which levels of participation are possible?
Code of conduct?
Whi

[2021-12-01 08:37] anajsana commented on #143
New guide idea coming from @jsmanrique **Participating in Open Source Conferences** https://github.com/todogroup/ospology/discussions/35

[2021-12-15 09:38] anajsana opened #265 "Add a new section to show ospo definition content"
The information from the repo [ospodefinition.org](https://github.com/todogroup/ospodefinition.org) can be a good starting point to keep building content around OSPO Governance (glossary, stages, personas, etc). this content should have a public-facing site apart from Github. Maybe within TODO website or maybe add the guide feature similar to CNCF within OSPO landscape and place it there (then, li

[2021-12-15 15:10] caniszczyk commented on #265
LGTM! :D

Do you need info on how to add a guide to the landscape?

On Wed, Dec 15, 2021 at 3:38 AM Ana Jimenez Santamaria <
***@***.***> wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2021-12-15 16:57] anajsana commented on #265
That would be very helpful, thanks! I was trying to see if there was documentation about how to add a guide at https://github.com/cncf/landscape/ but it seems there is nothing yet. I've seen the guide works as an md file, but I don't know where should this guide.md be stated (maybe within the [settings.yml](https://github.com/todogroup/ospolandscape/blob/master/settings.yml) file?)

[2021-12-15 17:01] caniszczyk commented on #265
You can reach out to Jordi on the #landscapers slack channel for help.

You can see an example PR here https://github.com/cncf/landscape/pull/2313

On Wed, Dec 15, 2021 at 10:57 AM Ana Jimenez Santamaria <
***@***.***> wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2021-12-15 17:10] anajsana commented on #265
I've found the doc in the landscape app! https://github.com/cncf/landscapeapp#generating-a-guide

[2021-12-17 16:58] justinabrahms opened #266 "[TODO Guide] Document how to setup different git persona for personal vs work"
This should ideally cover:

1. Setting your global git name / email.
2. Setting a per-repository git name / email
3. Setting up a path-based configuration to automate number 2.

[2022-01-04 00:48] justaugustus commented on #266
https://docs.github.com/en/get-started/getting-started-with-git/setting-your-username-in-git

Example:

[code]

[code]

[code]

[code]

ref: https://git-scm.com/docs/git-config#_includes

What's the context / where would this need to live?

[2022-01-05 14:35] anajsana opened #272 "Create Template for OSPO Use Case Submission"
## Goal

Ease new OSPO use cases contributions

## Description

If an organization would like to create their OSPO use case and publish this in TODO, they should provide some details about their OSPO initiative, so we can help build the use case and use the same format for each one.

The ideal format should be a Q&A design, like:

* Organization name, region, and industry
* Contact information to

[2022-01-05 14:56] xmulligan commented on #272
How CNCF does it might be helpful to look at https://github.com/cncf/foundation/blob/master/case-study-guidelines.md

[2022-01-05 14:57] anajsana commented on #265
The OSPO Guide is already done. Closing this issue

[2022-01-05 14:57] #265 closed

[2022-01-05 15:03] anajsana commented on #253
Thanks for this issue @winterrocks 👍 FYI, we are planning to revamp the website this year + we are organizing the use cases by creating a dedicated section in the new OSPO guide: https://landscape.todogroup.org/guide#ospos-in-practice

[2022-01-05 15:04] #225 closed

[2022-01-05 15:04] anajsana commented on #225
the designs were created. moving this issue to done

[2022-01-05 15:05] #219 closed

[2022-01-05 15:06] anajsana commented on #219
Everything is being managed at https://github.com/Open-Source-Compliance/outbound-oss

[2022-01-05 15:07] #247 closed

[2022-01-05 15:07] anajsana commented on #247
TODO org has already its readme file

[2022-01-05 15:08] anajsana commented on #240
this is a won't fix issue

[2022-01-05 15:08] #240 closed

[2022-01-05 15:09] anajsana commented on #108
I think this is already done? https://github.com/todogroup/todogroup.org/pull/178

[2022-01-05 17:33] ashleywolf opened #273 "TODO Guide: Transitioning ownership of an open source project"
Creating this issue so we can collaborate on a guide for transitioning ownership of an open source project.

[2022-01-05 18:06] justaugustus commented on #108
Yeah, this looks done.
Additionally, the original reporter's GH account no longer exists.

If anyone feels this needs further update, feel free to open a new issue referencing this one.

[2022-01-05 18:06] #108 closed

[2022-01-06 13:46] winterrocks commented on #253
Perfect. Just need to remember to put redirect links, etc. so that people will end up on the correct pages.

[2022-01-07 09:53] anajsana commented on #272
Thanks for the reference @xmulligan !

I like the idea of using a guideline doc similar to CNCF that points to a proposal form (in TODO's case, to a GH issue form).

I'm planning to elaborate a content proposal for a potential todo `case-study-guidelines.md` and add it to this issue for review, as well as a questionnaire dreft for the GH issue form 👍

[2022-01-07 16:02] anajsana commented on #272
Initial draft created using [this doc](https://docs.google.com/document/d/1jnCOrU1PzKQtoHFHDGX3mMRWHr-AN6XYb4omMBgufsk/edit?usp=sharing)

[2022-01-12 08:55] anajsana commented on #272
This is the [Case Study Pack](https://docs.google.com/document/d/18VrfJFIr3UYNxYPHpk0iEKS5oo4CcsjvVoYaUlGW_s4/edit?usp=sharing) waiting for review, intended to be added within the [OSPO case Study Submission](https://docs.google.com/document/d/18VrfJFIr3UYNxYPHpk0iEKS5oo4CcsjvVoYaUlGW_s4/edit?usp=sharing) as PDF

[2022-01-17 19:21] anajsana commented on #272
Related PR about todo contribution guidelines: https://github.com/todogroup/todogroup.org/pull/276

[2022-02-01 16:12] remyleone opened #282 "Issue with RSS"
Hello,

I think your RSS feed is not working: https://todogroup.org/feed.xml

[2022-02-01 16:14] ashleywolf opened #283 "TODO Guide: OSS Sponsorship"
Creating an issue to track a new guide for OSPOs on sponsoring open source. We'd like to produce an artifact that makes it easier for organizations to get funding and have decision making framework to sponsor OSS projects/organizations/foundations.

We started a draft in this [Google doc](https://docs.google.com/document/d/1OYn9TBQzbGHRE19sLy68votcSQ5XApoBcCiBVeVArH4/edit?usp=sharing)).

Topics in

[2022-02-01 16:24] anajsana commented on #282
Thanks for the heads up @remyleone! We will work on that 👍 Probably it's also time to update the sitemap.xml

[2022-02-02 12:44] anajsana commented on #283
This is great @ashleywolf ! thank you so much 👍 I have four questions for this guide:

1) Do you want to schedule sync guide Zoom calls with the guide participants to review the guide progress?

2) Do you want TODO to actively look for potential contributors to the guide promoting this issue within the main communication channels (slack, mailing lists, social media)?

3) I love g.docs to work on c

[2022-02-02 12:51] anajsana commented on #273
Thanks @ashleywolf ! In order to help you with this guide, I need an answer from the same questions I asked at: https://github.com/todogroup/todogroup.org/issues/283#issuecomment-1027905355

Also, could you please elaborate more on this TODO guide idea? For instance, proposing a TOC structure and a detailed description in this issue will work 👍

[2022-02-09 12:42] anajsana opened #284 "TODO Guide: Good first issue"
Submitted by @byjrack - topic: Good first issue:

"Good First Issue" and more focused project engagement for the enterprise/end user communities

With the significant increase in "end user" communities by organizations there is a base recognition that FLOSS is important and they need to be involved

Many first issues are focused on the individual developer, but organizational motivations and barri

[2022-02-09 12:45] anajsana commented on #284
Just to make sure that we don't duplicate effort: I think there is a similar guide in progress conducted by the Outbound OSS Working Group:  https://github.com/todogroup/outbound-oss

[2022-02-09 13:11] byjrack commented on #284
@anajsana so this is a bit ancient.  Whats the ask in the context of whats going on in TODO today?  I think the original ask where this was logged was to suggest work for TODO to take on, but I don't know if others would agree that this is a priority.  And there is the larger question on do major projects desire their enterprise customers to work upstream or do they expect that feedback will alway

[2022-02-09 15:12] anajsana commented on #284
Thanks for the context @byjrack ! I was trying to organize the guide's ideas proposed in an old list, so I understand some of these ideas can be outdated https://github.com/todogroup/todogroup.org/issues/143

Is it ok to close this issue? At this moment we have documented guidelines and processes to submit new guides and work on existing ones (see: https://todogroup.org/guides/todo-guides-contribu

[2022-02-09 15:14] byjrack commented on #284
Yup will close.  If folks see that item a problem than yeah lets go through the standard process and not pull in info from 2019 that was surveyed under a different model.

[2022-02-09 15:14] #284 closed

[2022-02-09 16:48] justinabrahms commented on #266
@anajsana I don't need help writing it, but I'd love to know where to put it.  The documentation doesn't really feel like a whole "guide", in that it's quite short and focused to a developer audience.  Any thoughts on where it should go?

[2022-02-11 16:44] gyehuda commented on #273
@ashleywolf If you put together a TOC I can add some content. For example, you and I penned some of this already where we handled the support process for projects to be archived (or transferred to an employee who left the company) https://yahoo.github.io/oss-guide/docs/promoting/support.html#tier-4-archived-projects and more elaboration of "ownership" when it comes to company managed projects.
htt

[2022-02-11 16:48] gyehuda commented on #266
At my last company I put together a guide for employees about how to set up their profiles https://yahoo.github.io/oss-guide/docs/resources/your_github.html I think the above content would be a great extention to a follow up guide (I'm not going to update the Yahoo one, but each of us probably have a guide we use for our opsos -- and this is a great topic that we can all benefit from by sharing id

[2022-02-11 17:11] jlprat opened #285 "TODO Guide: How OSPO teams provide guidance around how employees should participate OS communities?"
As outcome of the Touchpoint for 2022.02.11 I'm creating this issue, to collect people who would be willing to collaborate on writing a Guide on how OSPO teams can provide guidance around how to participate in OS communities.

[2022-02-11 20:01] debbryant commented on #285
FWIW, we released our internal guidance as public document last public last year.  The document was written as a collaboration between our OSPO and Legal.

https://www.redhat.com/en/about/open-source/participation-guidelines

Deb Bryant

[2022-02-14 18:44] gravax commented on #285
Adding you both to the channel on Slack.

[2022-02-14 18:45] gravax commented on #285
And Deb too, if you want.

[2022-02-14 18:46] gravax commented on #285
Actually, Deb, you're not on the Slack, it seems.

[2022-02-14 21:57] gyehuda commented on #266
I had once imagined that TODO group would create a generic OSPO guide that
covered the basics and that OSPOs could customize. At Yahoo, I took the
Google docs, modified them, and published them (both acknowledging their CC
license and adding one to the Yahoo content). Perhaps the generic OSPO
guide would then cover 1. Using, 2. Patching, 3. Publishing, 4. Promoting,
5. Launching app with open sour

[2022-02-14 22:10] debbryant commented on #285
IRC? ;)

It’s true I’m not on Slack.  But happy to otherwise contribute.

[2022-02-14 22:13] justaugustus commented on #266
I think it's a worthwhile effort!
Opened https://github.com/todogroup/governance/issues/190 to track doing an audit of our existing repos to get a better idea of what we can do to tidy up/better organize content.

[2022-02-15 02:32] Santhosh-LaB007 commented on #285
Hi jlprat, I saw your message on LinkedIn. I would like to be part of this. Please add me to the loop in case there is any.

[2022-02-15 08:42] jlprat commented on #285
@Santhosh-LaB007 Thanks for your interest! We are trying to sort out how and where we should collaborate. But if you can, feel free to join the TODO Group slack space and join the `#engaging-with-communities` in the mean time.

In https://todogroup.org/ you'll find a widget to join the TODO Slack space.

[2022-02-15 10:48] anajsana commented on #266
FYI @gyehuda (and @justaugustus) there is an [Generic OSPO Guide in the OSPO landscape repo](https://landscape.todogroup.org/guide) intended to gather all TODO existing information (useful info from repos, guides, etc) to have everything ordered into a single place 🙂

It works with a simple `.md`file which makes it quite easy for the community to contribute.

The structure that follows can easily

[2022-02-15 10:52] anajsana commented on #285
@Santhosh-LaB007 [here's the link to join](https://slack.todogroup.org/) please let us know if you can't access the Slack platform at all and we will try to find a better channel to sync 👍

[2022-02-15 11:39] jsmanrique commented on #283
It sounds like an interesting approach. I have requested access to the doc. Thank you @ashleywolf

[2022-02-15 19:06] awright commented on #285
this is really interesting deb. a question for you -- do you have/know of any guidelines -- which may be internal -- for how people should "behave" in open source spaces? and that's not like -- behave -- in prescriptive ways, but guidance and support so people can be positive contributors and not representatives of a corporate stakeholder. (i've often seen tension).

and also, what are the guideli

[2022-02-15 19:31] gyehuda commented on #285
At Yahoo I had an internal version of the external guide that had a few
extra pages — one was called “Citizenship in open source” that attempted to
address that question. It was kinda like the “how we really want you to
behave in public that would make everyone happy” and yes, I wrote it after
a few situations that seemed to demand clarity on what it means to be a
good citizen in open source while

[2022-02-15 20:07] gyehuda commented on #285
Sorry. I don’t remember why that wasn’t on the external site — we did a
review and for some reason listed that as internal only.

I can share some examples of employees behaving badly that helped inform
the page:

1. An employee wanted to contribute to a well known Apache project that the
company had team very involved in. I asked him to connect with the large
team to work with committers so that

[2022-02-15 20:55] awright commented on #285
These are so good Gil. Thanks!!

On Tue, Feb 15, 2022 at 3:07 PM, Gil Yehuda ***@***.***>
wrote:

[2022-02-15 21:20] dviner commented on #283
I requested access to the doc.  One quick observation is that there are two pretty different topics here - finding dependencies versus supporting/sponsoring projects.  Finding dependencies is tied in with a bunch of other efforts across the ecosystem (e.g., gitbom, SBOM, dependency graphs, etc).  It may be useful for this doc to simply point to those other efforts for how to discover dependencies.

[2022-02-15 23:27] ashleywolf commented on #283
Added all the folks that requested. Feel free to add content in - let's start with a 🧠 dump and then we can edit later.

[2022-02-16 00:07] Sealjay commented on #266
As an aside, there are pros and cons to having separately managed identities. I can see some of that in the above material, but we've settled generally on not using enterprise managed identities on GitHub, at least.

We enforce SSO on GitHub enterprise, but people use their typical GitHb username for public open source work, and internal projects.

https://docs.github.com/en/enterprise-cloud@lates

[2022-02-17 12:33] anajsana commented on #212
Website updates: Planning to maintain the same Hugo template, but work on the CSS file to tweak the design a bit 👍 I will proceed to close this issue and focus on defining website content #210

[2022-03-01 20:43] awright commented on #285
Some resources as point of reference:

- Sustain Participation Guidelines: [2020 Working Group notes](https://discourse.sustainoss.org/t/principles-of-authentic-participation-continuing-the-sustain-conversation/284) and [draft for guidelines](https://authentic-participation.readthedocs.io/)
- [Contributor Covenant](https://www.contributor-covenant.org/version/2/1/code_of_conduct/): We could do the

[2022-03-09 16:52] justinabrahms commented on #266
I've documented this here: https://github.com/todogroup/outbound-oss/pull/45

[2022-03-09 16:55] winterrocks commented on #285
Vicky's book is a good guide too: https://pragprog.com/titles/vbopens/forge-your-future-with-open-source/
It is a guide for those who want to start contributing for the first time.

[2022-03-09 17:51] jlprat opened #288 "TODO Guide Employee Open Source Engagement Guide: General Documentation"
This issue is just a holder for general documentation.

Part of: #285

**Six Princples**
[Principles of Authentic Participation](https://authentic-participation.readthedocs.io/)

- **Starts Early.**
  - #289
  - This came out of the discussions about organizations showing up with mature, fully baked contributions over which the community had no input.
- **Puts the Community First**
  - #290
  - Th

[2022-03-09 18:27] jlprat opened #289 "TODO Guide Employee Open Source Engagement Guide: Principle 1 - Starts Early"
**Issue to track progress of the Principle: Starts Early.**
This came out of the discussions about organizations showing up with mature, fully baked contributions over which the community had no input.

**For reference**
- [Notes](https://docs.google.com/document/d/1me3g3-cxx-W288sal_4mDMweIBbFZjLgDTYHgBZxm9w/edit?usp=sharing) from initial meeting
- Initial [notes](https://authentic-participation.

[2022-03-09 18:28] jlprat opened #290 "TODO Guide Employee Open Source Engagement Guide - Principle 2: Puts the Community First: the collective holds the timeline"
Issue to track progress of the Principle: Puts the Community First: the collective holds the timeline.

[2022-03-09 18:30] jlprat opened #291 "TODO Guide Employee Open Source Engagement Guide - Principle 3: Starts With Listening"
Issue to track progress of the Principle: Starts With Listening.

[2022-03-09 18:31] jlprat opened #292 "TODO Guide Employee Open Source Engagement Guide - Principle 4: Has Transparent Motivations"
Issue to track progress of the Principle: Has Transparent Motivations.

[2022-03-09 18:32] jlprat opened #293 "TODO Guide Employee Open Source Engagement Guide - Principle: Enforces Respectful Behavior"
Issue to track progress of the Principle: Puts the Community First: Enforces Respectful Behavior.

[2022-03-09 18:33] jlprat opened #294 "TODO Guide Employee Open Source Engagement Guide - Principle 6: Ends Gracefully"
Issue to track progress of the Principle: Ends Gracefully.

[2022-03-10 10:52] perploug commented on #285
Great initiative, would also like to contribute here.

Previously I collaborated with HR at Zalando, to create a policy, on supporting employees engaging in open source on behalf of the company, this is kind of the other side of the coin, that we as organisations should have mechanisms in place to support our employees in case they are target of harassment due to their open source work.

The polic

[2022-03-10 19:43] awright commented on #289
I'm going to start riffing on this, as insomnia added some thoughts to the mix. I do suggest someone clearly articulates the problem this seeks to address. (And I even recommend @DuaneOBrien for that) Would be hard pressed now to succinctly (or eloquently) articulate the problem, so riff here sort of assumes it.

tl;dr: Starting early means contributing to an open source project before things are

[2022-03-10 19:51] awright commented on #288
Notes from 03-09-2022 Meeting:

**Action Items:**

- AW: Read the TODO Outbound OSS Guide (https://github.com/todogroup/outbound-oss)
- DO: Write internal blog post, bring to group and share it. (hopefully by next week)
- JP: Make ticket for each principle
- JP/AW/team: Start riffing on first one (but can move forward)
- Goal: Have draft for Open Source Summit NA in June 24 (Open Source Europe Sep

[2022-03-10 19:57] awright commented on #285
Thanks Per! If you want, look at the principle tickets and add some of your
thoughts. This guide is for company employees that want to contribute to
open source projects. It is designed to be a short concise guidebook and we
have converged on these 6 principles. Our plan is to share thoughts and
then consolidate each of these principles in the guide.

On Thu, Mar 10, 2022 at 5:52 AM Per Ploug ***@

[2022-03-10 20:10] cornelius commented on #289
Semi-serious remark: We don't want people to join projects from the peak of [Dunning-Kruger's "Mount Stupid"](https://ardalis.com/the-more-you-know-the-more-you-realize-you-dont-know/).

[2022-03-11 16:31] jlprat opened #295 "TODO Guide Employee Open Source Engagement Guide - Open Questions / Suggestions"
Please add in here any open question or suggestion to extend the guide into.

[2022-03-14 10:39] DavidPHirsch commented on #289
some suggestions:
-  it is an easy place to start for non-technical people, setting up calendars, governance and other community oriented docs a very valuable and doesn't require to specific knowledge.
- if you are new to open source, this is a good point in a projects lifecycle to learn how pull requests, forking/branching, review and more work.

[2022-03-14 10:54] DavidPHirsch commented on #291
suggestions:
- check out the projects repo and read the contributing doc and have a look at ongoing discussions to see how people interact, possibly before asking questions
- if the project has a slack channel, discourse, discord or other channels to see what type of conversations are happening, introduce yourself and ask for suggestions on where to get started
- if there are weekly or monthly mee

[2022-03-14 11:04] jlprat commented on #288
Notes from 2022-03-14 Meeting:
* JP explains the context and status of the guide work
* Issues and GitHub project were shared.

Work done:
* JP: Working on "Starts Early"
* DH: Taking a look at "Starts with listenting" and write some ideas and notes.

[2022-03-14 11:45] jlprat commented on #289
Taking an attempt to put things in prose.

"One might be tempted to start with their contributions (even for the non-code ones) right away, but this is rarely the best approach to establish a good long-lasting relationship with the given Open Source Community.
First of all, one must get to know the community: how it works, what are its needs, and how it is governed. Once this is done, one must sta

[2022-03-14 12:57] awright commented on #289
This is wonderful Josep!

Two things that jump out to me as missing:

- I think we should use the word “trust” somewhere. Starting early,
learning from the community, etc speaks to me about building trust with
others.
- Should we say something explicitly about coming from a company?
Transparency about this matters. What do you think?

On Mon, Mar 14, 2022 at 7:46 AM, Josep Prat ***@***.***>
wrote:

[2022-03-14 12:59] jlprat commented on #289
Thanks Alyssa,
Yes "trust" should be put somewhere in there. And we could expand the transparency thing mentioning that one comes from a company.

[2022-03-14 13:44] winterrocks commented on #291
- Do a search before you start to ask questions, it is likely that someone had the same question earlier and that there is already also a good answer to it
- If the question(s) you had were answered, but those answers were not in the readme or other guides, this is your chance to make your first contribution to the project by adding a missing section.

[2022-03-14 21:41] DuaneOBrien commented on #289
Some of the intent behind Starts Early was to avoid the bad pattern of someone showing up on behalf of an organization with a significant feature and large pull request, only to find out the receiving project wasn't interested. That ends up creating bad feeling for everyone involved, where Start Early can  help avoid them by both providing the opportunity for community input, and early signal that

[2022-03-21 13:07] anajsana opened #302 "Blog post idea: Different ways to join TODO"
TODO is formed by orgs with an OSPO that decides to support as General Members, OSPO Associates (communities and other entities that support OSPO movement) and its individual community of contributors.

There are different Paths newcomers can take to get involved in the TODO Community, based on their specific needs. For instance:

1) Individuals can join the TODO community and get onboarded by fol

[2022-03-23 20:14] awright commented on #290
Reading and thinking about this principle, so some stream-of-conscious strands of thoughts that we hope make a whole:

- **You are the community**: Once you engage in an open source project, you relationship to a project needs to shift to include a collective sensibility.
- **Trust the community**: From @gyehuda in 2017: "When engineers don't trust the process, they make their own rules. Their rul

[2022-03-23 20:31] awright commented on #290
"open source is at its most innovative and sustainable when maintained by a community. Rather than a single vendor hoping to hoard the benefits of a comparatively small “pie” for itself, community-led open source development fosters abundance, creating a much bigger “pie” for all, including greater revenue potential for individual vendors." [3]

[3] https://thenewstack.io/why-the-best-open-source-

[2022-03-23 20:37] awright commented on #294
Quotes/Thoughts/BrainDump/etc
- "The most common motivation among open source contributors is to add a feature that they themselves want to see, [[Jeremy Stretch](https://www.linkedin.com/in/jeremy-stretch/)] said. “Once this has been achieved, the contributor rarely sticks around.”" [1]

[1] https://thenewstack.io/how-an-ospo-can-help-your-engineers-give-back-to-open-source/

[2022-03-24 11:29] itprofjacobs commented on #294
Adding to reading list for class, thanks! :-)

[2022-03-24 12:50] awright commented on #294
Any chance you can pass over the syllabus of readings? Curious to see if
any of your “canon” can also inform a thoughtful guide for corporate
engagement.

On Thu, Mar 24, 2022 at 7:29 AM, Stephen Jacobs ***@***.***>
wrote:

[2022-03-25 16:54] jlprat opened #307 "TODO Guide Employee Open Source Engagement Guide - Bad experiences maintainers suffered from corporate developers"
Examples of real world cases of when maintainers had bad experiences coming from corporate developers.
They can be anonymous or links to public conversations.

[2022-03-25 18:13] awright opened #308 "TODO GUIDE: Employee Open Source Engagement Guide: Resources and Additional Engagement Guides"
- [Kubernetes Community Values](https://github.com/kubernetes/community/blob/master/values.md#kubernetes-community-values)

[2022-03-29 16:48] awright commented on #290
@DuaneOBrien can you add any additional thoughts here? @jlprat same for you! looking for your thoughts. then want to draft something that is closer to coherent than otherwise?

[2022-03-29 17:05] awright opened #309 "TODO GUIDE: Employee Open Source Engagement Guide: Core Maintainer Perspective"
Looking for core maintainers who have had difficult situations with corporate entities for both our learning as well as potential speaking and communications. (e.g., OSPOCon panel).

Suggestions from Sustain community
- Make a tweet, collecting stories.
- @awright Reach out to Eriol
- @awright Reach out to enbay ickolssnay (@DuaneOBrien he said he'd talk if we put him in the dark with a hoody)
- @

[2022-03-29 17:25] jlprat commented on #309
Shall we close this other issue then? https://github.com/todogroup/todogroup.org/issues/307

[2022-03-29 19:37] awright commented on #307
duplicate.

[2022-03-29 19:37] #307 closed

[2022-03-29 19:38] awright commented on #309
ahh. didn't realize there was another one. closed #307

On Tue, Mar 29, 2022 at 1:25 PM Josep Prat ***@***.***> wrote:

[2022-03-30 13:01] jlprat commented on #290
I have a couple of points I want to add or maybe emphasize:

* Putting community first means that the majority of actions are taking with the community in mind, not any particular company. This means, as a corporate developer your role is not to push your company's roadmap into the project, but rather contribute from your experience with other community members towards solving problems the communi

[2022-03-30 15:56] awright commented on #290
not to add to much noice but really nice points @jlprat!!! i love these.

[2022-04-11 09:43] jlprat commented on #289
Did some rewrite on my initial attempt (in italics the changes made). Feel free to rework the text!

"One might be tempted to start with their contributions (even for the non-code ones) right away, but this is rarely the best approach to establish a good long-lasting relationship with the given Open Source Community. _Doing this might have unexpected consequences like spending substantial amount o

[2022-04-11 10:15] jlprat commented on #290
I did some other write up on this. As usual, feel free to rewrite"

"Open Source is about building in communities. Once you start contributing to a project, you become part of the community around it.
Your goal shouldn't be to try to push as many changes upstream as possible, but to work on the ones that matter. Rather than trying to push your company's internal roadmap into the project, you shoul

[2022-04-13 16:51] awright opened #313 "Principle 0: Don't be a Jerk ;)"
Questions/issue inspired during the 04-13-22 TODO Working Group Call:
- Every projects has a CoC and Contributing Guidelines. How is this different than the social framework of engagement projects articulate here?
- How does this sit in relationship to such CoC and Contribution covenant? Making something repetitive or superseding existing guidelines is not the intent, so what is the intent?
- Woul

[2022-04-13 16:57] awright commented on #313
@jlprat @DuaneOBrien  I think these are very important questions. How does this complement and distinguish itself from existing work.

@DuaneOBrien do you recall if these principles were based on another template?

[2022-04-15 16:35] jwflory commented on #313
Hi, I was asked to comment from working on the [Principles of Authentic Participation](https://authentic-participation.readthedocs.io/).

A CoC and contributing guidelines usually deal with person-to-person interaction. Contributor to contributor, contributor to maintainer, maintainer to contributor, etc. The Principles approached it from the lens of a larger organization looking to clarify, codif

[2022-05-09 10:02] jlprat commented on #292
Some of the things that I think we should reflect here:
* Be open about your affiliation: We kind of touched this on the first principle, but this should be also present here.
* Share level of commitment for the project: is it a "one off", is it a long or mid level commitment?
* Purpose of the collaboration: what is the the work you are willing/allowed to take? Is the purpose to help the community

[2022-05-09 10:12] winterrocks commented on #291
Some writeup, this is just the very first 0.01 version. I think that Vicky has some good wording in her book too, but it is her copyright.

When you have been pointed by your company to get into an Open Source Project and you are a new person who wants to contribute to the project the first thing you want to do is get a feeling of how the project is functioning. The first things to do are: read th

[2022-05-09 10:18] gvlx opened #317 "pt-PT translation effort"
Following the work done on #197 by @puppe1990, I'm starting the Portuguese/Portugal translation.

Tasks:
- [ ] fork repo
- [ ] create pt-PT branch
- [ ] create pt-PT directory structure
- [ ] first level translation of about.md file using GT or Deepl and the pt-BR source.
- [ ] create a Slack channel "translation pt-PT"
- [ ] create a community Working Group to work on this (esop.pt support?)

Not

[2022-05-09 10:22] winterrocks commented on #290
Hey,
Let's add something like: "Read the project's Code of Conduct and follow it."

[2022-05-11 16:57] DuaneOBrien commented on #289
Proposing  a stylistic rewrite for Josep's text:

"You might be tempted to start by making contributions right away. This is rarely the best approach to establish a good long-lasting relationship with an Open Source project, and it can sometimes lead to unintended consequences. For example, a project may have already started work on a related feature, or previously discussed a feature and decided

[2022-05-16 07:28] cornelius opened #318 "Missing link to Slack"
At https://todogroup.org/blog/opening-up-slack/, there is a link to Slack missing. Apparently the slackButton shortcode at https://github.com/todogroup/todogroup.org/blob/main/content/en/blog/opening-up-slack.md is not rendered properly.

[2022-05-20 15:18] juliaferraioli commented on #292
If this isn't too detailed -- in your commits, always use the email appropriate to the context. That is, if you're making a contribution as part of your job at company xyz, you should be signing it using person@xyz.com. I go into more detail: https://www.juliaferraioli.com/blog/2022/your-git-email-matters/

[2022-05-23 14:46] anajsana opened #319 "current navbar as a dropdown navbar"
Currently, the navbar website is under `footer.html` and does not allow dropdown navbar. The dropdown navbar can be added via the `config.yaml` folder by adding   `sublinks` category

[code]

## Action Items

Allow todogroup.org website to have a dropdown navbar

[2022-05-25 10:05] anajsana commented on #318
Thank for the heads up @cornelius ! Actually, we changed the way people can access slack to make this process easier. Now, everyone who would like to join the community can go to todogroup.org/community and [click on the new slack invite](https://join.slack.com/t/thetodogroup/shared_invite/zt-169ok18cz-Pi6tpVHTeW9254d1FpkLew) directly from there. I'll make sure to update the blog post before closi

[2022-05-25 10:09] anajsana commented on #317
hey, @gvlx if you are not able to connect with @puppe1990 (I haven't been able either), feel free to kick off this, and I'll review the PR once this is finished 👍

[2022-05-25 10:12] anajsana commented on #317
Also, we are adding the translations to the evolution of the OSPO study in the "guide and resources" section. In case you'd like to make a Portuguese contribution 😄 @gvlx

![Screenshot 2022-05-25 at 12-11-19 TODO Group __ TODO Talk openly develop openly](https://user-images.githubusercontent.com/43671777/170238809-15e35d87-680c-4ccb-a6db-e2a992970bed.png)

[2022-05-25 10:17] #211 closed

[2022-05-25 10:18] anajsana commented on #234
Not necessary since we are not gathering any data at this moment

[2022-05-25 10:18] #234 closed

[2022-05-25 10:19] #235 closed

[2022-05-25 10:20] anajsana commented on #241
Ohter-related issues are taking care of this. closing this task

[2022-05-25 10:20] #241 closed

[2022-05-25 10:20] anajsana commented on #249
the guide was published a long time ago. closing this task

[2022-05-25 10:20] #249 closed

[2022-06-08 17:16] jlprat commented on #294
Some thoughts:
* **Be open**: Share the expected commitment and involvement in the project. No collaboration is too short, as long as it's well defined upfront
* **Be mindful**: Priorities change, or unexpected things happen, it's fine. Sharing at the earliest possible point in time with the community is crucial. This is true for premature ending and for unexpected extensions

Anything else on my

[2022-06-09 07:01] anajsana commented on #210
# June Website project Updates:

* `Website Content` has been edited and reviewed mainly by @gtback and @anajsana. Love to have more input from other contributors 🙂
* `Website Development` is blocked 🙁 The short story is that the person who was initially in charge to help with this is currently busy with other projects, so @anajsana is trying to find other ways to continue the task.  FYI: The firs

[2022-06-16 15:02] souravrhythm opened #332 "Verify Todo Group GitHub profile"
I just noticed Todo Group GitHub profile is not verified. It will be cool to see the profile verified!

**How to do verify the domain:**
https://docs.github.com/en/enterprise-cloud@latest/organizations/managing-organization-settings/verifying-or-approving-a-domain-for-your-organization

**Who can verify the domain:**
website owner/maintainer

[2022-06-16 16:35] caniszczyk commented on #332
I've done this :)

[2022-06-16 16:35] #332 closed

[2022-06-16 16:45] souravrhythm commented on #332
Thanks @caniszczyk 🎉

[2022-07-27 17:01] jlprat opened #338 "Suitable Place for Corporate Covenant"

[2022-07-27 17:37] jlprat commented on #292
Your work on the projects should be transparent. Transparency has many different aspects an dimensions that we will try to showcase here.
You should be transparent with the rest on the community about your level of commitment with this project: from working only on issues that overlap with your company's interests, to help out in anything the project needs, or anything in between. All the options

[2022-07-27 17:58] awright commented on #294
This needs to be revised, but a beginning:

People remember how we leave a room. Our open source endings are a stepping stone to how we enter our next space, whether we return to the same room or enter a new one. Too often well-meaning open source contributors will just disappear, leaving silence and questions in their wake.

Your endings are just as important as any other juncture in the open sou

[2022-07-27 18:02] jlprat commented on #293
Open Source projects are made by people, with people, for people. It's easy to forget that the on-line avatars are real people. You should always remain respectful and follow the defined rules of engagement by the community.
Projects and communities often have a Code of Conduct, it is a pledge from the community leadership towards the community that no abusive behavior will be tolerated. Take a mo

[2022-07-27 19:10] jzb commented on #292
I'm curious what this would look like in practice. Any examples? I often see people stating when they'll be out of pocket as long-time contributors but less so people giving levels of commitment up-front.

[2022-07-27 19:57] jlprat commented on #292
For example at Aiven we have people whose purpose is to contribute to specific Open  Source projects, so people can have a long commitment to the projects. Making this known to the communities helps in planning, sharing responsibilities, and helps building trust.
I would guess sporadic collaborations are the default.
Other companies might say, we want this set of features on this project and we wa

[2022-08-20 04:04] WindfallProphet commented on #318
I noticed that the [q&a](https://todogroup.org/faq/) has links to [https://slack.todogroup.org](https://slack.todogroup.org/). It might be easier to just create a redirect on slack.todogroup.org, but you could also just replace all the links with the new slack link. Up to you.

[2022-10-20 20:16] vmbrasseur opened #351 "Conspicuously link to the CoC in the header or footer of the website"
I was looking at the website and noticed that the [Code of Conduct](https://github.com/todogroup/.github/blob/master/CODE_OF_CONDUCT.md) isn't obviously linked anywhere on it.

We should probably fix this. :-)

[2022-10-24 10:06] #351 closed

[2022-10-24 14:23] winterrocks opened #353 "Broken picture links on Outbound OSS guide"
It seems that there are several broken (404) picture links in the Outbound OSS md page:
https://github.com/todogroup/todogroup.org/blob/main/content/en/guides/outbound-oss.md

[2022-11-09 12:33] cornelius commented on #353
That's true. The references are done in a way that they are correct in the rendered version at https://todogroup.org/guides/outbound-oss/, but that breaks them in the source view in the repo.

I'm not sure, if there is a good way, which makes the links work in both versions.